body{
    margin: 0 auto;
    background-color: rgb(255, 239, 100)
}

.container{
    height: 800px;
    width: 1000px;
    position: relative;
    top: 500px;
    background-color: rgb(0, 108, 141)
    
}


.col-md-3{
    height: 100px;
    width: 300px;
    position: relative;
    bottom: 250px;
    left: 300px;
    background-color: white;
    border: solid blue 3px;
    border-radius: 100px;
}


.col-md-9{
    height: 550px;
    width: 800px;
    position: relative;
    bottom: 150px;
    left: 100px;
    background-color: rgb(16, 165, 224)
}

.dragon-img{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 1350px;
    left: 600px;
}

.luigi-img{
    height: 600px;
    width: 1010px;
    position: relative;
    right: 50px;
    bottom: 20px;
}